{{ define "title"}}客户端应用{{ end }}

{{ define "content" }}

    <div class="profile-content">
    	{{ if len .clients | lt 0 }}
     	<div class="pull-right">
	    	<a class="btn btn-default" href="/web/clients/new" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
     	</div>
     	<p class="lead">注册应用</p>
		<ul class="list-group">
		 	{{ range $client := .clients }}
				<li class="list-group-item">
					<a href="/web/clients/{{$client.Key}}">{{$client.Name.String }}
					<p class="pull-right" >
					<span class="hidden-xs text-muted">回调：{{$client.RedirectURI.String}}</span>
					</p>
					</a>
				</li>
		 	{{ end }}
	    </ul>
	    {{ else }}
	    	<a class="btn btn-primary btn-lg" href="/web/clients/new" role="button">创建新应用</a>
	    {{ end }}
    </div>
{{ end }}
