{{ define "content" }}
<div id="tm-bg"></div>
<div id="tm-wrap">
    <div class="tm-main-content">
    <div class="tm-main-content">
        <header>
            {{if .currentUser }}
                <div class="index-profile">
                    <div class="profile-userpic">
                        <img src="{{ .currentUser.Avatar }}" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{ .currentUser.Username }}
                        </div>
                        {{if .currentUser.Role}}
                        <div class="profile-usertitle-job">
                            {{ .currentUser.Role.Name }}
                        </div>
                        {{end}}
                    </div>
                </div>
            {{else}}
                <button onclick="window.location.href = '/web/login'">
                    登录
                </button>
                <button onclick="window.location.href = '/web/register'">
                    注册
                </button>
            {{end}}
        </header>
        <div class="container tm-site-header-container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
                    <div class="tm-site-header">
                        <h1 class="mb-4">湖南捷杰信息科技</h1>

                        <img src="img/underline.png" class="img-fluid mb-4">
                       <!--  <p style="font-size:12px;">
                            “进货管家”小程序，可以在微信小程序上购买你想的要产品，足不出户，便买购买天下。
                        </p>
                        <p style="font-size:12px;">
                            “进货管家”APP，可以给供应商们提供一个平台，把他们的商品，放入“进货管家”APP中。使顾客可以在“进货管家”小程序上购买。
                        </p> -->
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="content">
                        <div class="grid">
                            <!-- 主页 -->
                           <!--  <div class="grid__item" id="home-link">
                                <div class="product">
                                    <div class="tm-nav-link">
                                        <i class="fas fa-home fa-3x tm-nav-icon"></i>
                                        <span class="tm-nav-text">捷杰科技</span>
                                        <div class="product__bg"></div>
                                    </div>
                                    <div class="product__description">
                                        <div class="row mb-3">
                                            <div class="col-12">
                                                <h2 class="tm-page-title">欢迎来到捷杰科技</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <p style="font-size:14px;">
                                                    湖南捷杰信息科技有限公司始建于2015年11月09日，是专注于互联网/移动互联网/电子商务行业的民营企业公司。
                                                </P>
                                                <p style="font-size: 14px">
                                                    主要经营软件开发;软件技术转让;软件技术服务;电子商务平台的开发建设;信息系统集成服务;信息技术咨询服务;通信基站技术咨询;智能电网技术咨询;数据处理和存储服务;集成电路设计;数字内容服务。
                                                </p>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <P style="font-size:14px;">
                                                    湖南捷杰信息科技有限公司以始终坚持“诚信为本、客户至上、互惠互利，开拓创新”的企业宗旨，本着“本质为本、专业执着、精益求精”的经营销售理念，力求给客户提供全方位优质服务，我们相信诚实正直、开拓进取地为公司发展做正确的事情，将为公司和个人带来共同的利益和进步。经过几年的发展，已成为互联网/移动互联网/电子商务行业知名企业。
                                                </p>
                                                <P style="font-size:14px;">
                                                    湖南捷杰科技，旗下有万流网，万流营销云平台，耒阳街上等几大品牌，致力对移动电商提供运营，营销一体化方案，目前正在打造成一流的服务云平台。
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div> -->
                            <!-- 联系我们 -->
                            <div class="grid__item" id="team-link">
                                <div class="product">
                                    <div class="tm-nav-link">
                                        <!-- <i class="fas fa-users fa-3x tm-nav-icon"></i> -->
                                        <i class="fas fa-phone-volume fa-3x tm-nav-icon"></i>
                                        <span class="tm-nav-text">联系我们</span>
                                        <div class="product__bg"></div>
                                    </div>
                                    <div class="product__description">
                                        <div class="pt-sm-4 pb-sm-4 pl-sm-5 pr-sm-5 pt-2 pb-2 pl-3 pr-3">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <h2 class="tm-page-title">联系我们</h2>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <div style="display: flex;width: 60%;">
                                                        <div style="width:100%;text-align: left;">
                                                            电话：
                                                        </div>
                                                        <div style="width:50%;text-align: right;">
                                                            0731-83991940
                                                        </div>
                                                    </div>
                                                    <div style="display: flex;width: 60%;margin-top: 20px;">
                                                        <div style="width:100%;text-align: left;">
                                                            邮箱：
                                                        </div>
                                                        <div style="width:50%;text-align: right;">
                                                            hysios@gmail.com
                                                        </div>
                                                    </div>
                                                    <div style="display: flex;width: 60%;margin-top: 20px;">
                                                        <div style="width:20%;text-align: left;">
                                                            地址：
                                                        </div>
                                                        <div style="width:100%;text-align: right;">
                                                            湖南省长沙市雨花区马王堆南路汇达大厦1501室
                                                        </div>
                                                    </div>
                                                    <div style="display: flex;width: 60%;margin-top: 20px;">
                                                        <div style="width:100%;text-align: left;">
                                                            微信公众号：
                                                        </div>
                                                        <div style="width:50%;text-align: right;">
                                                            捷杰信息科技
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 研发项目 -->
                            <!-- <div class="grid__item">
                                <div class="product">
                                    <div class="tm-nav-link">
                                        <i class="fas fa-handshake fa-3x tm-nav-icon"></i>
                                        <span class="tm-nav-text">研发项目</span>
                                        <div class="product__bg"></div>
                                    </div>
                                    <div class="product__description">
                                        <div class="p-sm-4 p-2">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <h2 class="tm-page-title"></h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <img src="img/weix.jpg" class="img-fluid mb-3">
                                                    <p>&nbsp&nbsp使用微信“扫一扫”扫描上方二维码，即可使用</p>
                                                    <p>&nbsp&nbsp“进货管家”小程序。</p>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                   <p>&nbsp&nbsp使用QQ“扫一扫”扫描下方二维码，</p>
                                                    <p>&nbsp&nbsp即可使用“进货管家(供应商版)”APP。</p>
                                                    <img src="img/APP.png" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- 意见反馈 -->
                            <div class="grid__item">
                                <div class="product">
                                    <div class="tm-nav-link">
                                        <i class="fas fa-comments fa-3x tm-nav-icon"></i>
                                        <span class="tm-nav-text">意见反馈</span>
                                        <div class="product__bg"></div>
                                    </div>
                                    <div class="product__description">
                                        <div class="pt-sm-4 pb-sm-4 pl-sm-5 pr-sm-5 pt-2 pb-2 pl-3 pr-3">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <h2 class="tm-page-title">意见反馈</h2>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-12">
                                                    <p>您的反馈，是我们最大的动力</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- <form action="?action=reg" method="post" class="contact-form"> -->
                                                    <form action="https://jiejie.io" method="get"
                                                    class="contact-form" id="feedback">
                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                                              <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="姓名"  required/>
                                                            </div>
                                                            <div class="form-group col-md-6 col-lg-6 col-xl-6 tm-col-email">
                                                              <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="邮箱"  required/>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                          <textarea id="contact_message" name="contact_message" class="form-control" rows="9" placeholder="请留言....." required></textarea>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary tm-btn-submit">提交
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  特征 features  -->
        <footer class="features">
            <div class="flex-box">
                <div class="services-block-one">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="img/shouji.png" class="icon-img">
                        </div>
                        <span class="h3">简单便捷</span>
                        <div class="text">只使用手机就可以处理“进，销，存”的手机APP</div>
                    </div>
                </div>
                <div class="services-block-one">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="img/tongyi.png" class="icon-img">
                        </div>
                        <span class="h3">分开管理</span>
                        <div class="text">简单易上手，店家使用APP，客户使用小程序，分开管理</div>
                    </div>
                </div>
                <div class="services-block-one">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="img/exchange.png" class="icon-img">
                        </div>
                        <span class="h3">数据同步</span>
                        <div class="text">APP和微信小程序的数据实时同步</div>
                        <div class="text">客户在小程序上购买东西，店家马上就会从APP上收到通知</div>
                    </div>
                </div>
            </div>
            <!-- <p class="small tm-copyright-text">©湖南捷杰信息有限公司版权所有. 湘ICP备13005289号-3</p> -->
        </footer>


        <!--  右侧固定  -->
        <div class="right-fixed">
             <ul class="fixed-ul">
                <li>
                    <img src="img/weixin.png" class="img-item">
                    <div class="fixed-image">
                        <img src="img/weix.jpg">
                    </div>
                </li>
                <li>
                    <img src="img/android.png" class="img-item">
                    <div class="fixed-image">
                        <img src="img/APP.png">
                    </div>
                </li>
                <li>
                    <img src="img/ios.png" class="img-item">
                    <div class="fixed-image">
                        <img src="img/APP.png">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}