upstream oauth2_server{
    server 127.0.0.1:8080;
}

server {
    listen 80;
    server_name jiejie.io;
    location / {
    	rewrite ^/$ /web permanent;
    }
    
    location ~ /web {
        proxy_pass http://oauth2_server;
    }

    location ~ /css {
        proxy_pass http://oauth2_server;
    }

    location ~ /img {
        proxy_pass http://oauth2_server;
    }

    location ~ /uploads {
        proxy_pass http://oauth2_server;
    }

    location ~ /favicon.ico {
        proxy_pass http://oauth2_server;
    }

    location ~ /v1/oauth {
        proxy_pass http://oauth2_server;
    }      
}